<div class="container">
  <% @questions.each do |q| %>
    <div class="media">
      <div class="media-left">
        <a href="#">
            <img class="media-object" src="<%= q.gravatar %>">
        </a>
      </div>
      <div class="media-body">
        <h5 class="mt-0"><%= q.email %> asked: </h5>
        <%= q.body %>
        <div>
          <a href="/questions/1" class="btn btn-success btn-xs">View Answers</a>
        </div>
      </div>
    </div>
  <% end %>
</div>