// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
.boxes {
    .media {
        background-color: azure;
        border: thin solid #cce;
        border-radius: 10px;
        height: 9em;
        margin: 10px;
        padding: 10px;
        position: relative;
        .time {
            color: #666666;
            position: absolute;
            right: 8px;
            top: 8px;
        }
        .view-answer-button {
            position: absolute;
            right: 8px;
            bottom: 8px;
        }
        &:hover {
            background-color: whitesmoke;
            cursor: pointer;
        }
    }
}