// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.media {
    background-color: azure;
    border: thin solid #cce;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}